:root{
    --blanco: #ffffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    
}
html{
    font-size: 62.5%;
    /* MODELO DE CAJA*/
    box-sizing: border-box;
}
*,*::after,*::before{
    /* HACK MODELO DE CAJA*/
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: Krub, sans-serif;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}
.navegador{
    background-color: var(--secundario);
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
}

.navegador-principal a{
    background-color: var(--secundario);
    color:var(--blanco);
    /*Quitar decoracion*/
    text-decoration: none;
    padding: 1rem;
}
.navegador-principal{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /*Justify Filas
    Aling Columnas*/
    font-size: 2rem;
    font-weight: bold;
}
@media (min-width: 768px){
  .navegador-principal{
    flex-direction: row;
    align-items: center; /* Alinea los elementos verticalmente */
    gap: 2rem; /* Espaciado entre enlaces */
  }
  
}

.navegador-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);

}

.hero{
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    text-align: center;
    height: 450px;
    position: relative;
    
}
.contenido-hero{
    position: absolute;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.contenido-hero p,
.contenido-hero h2{
    color: var(--blanco);
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
.ubicacion{
    display: flex;
    align-items: flex-end;
    
}
.boton{
    
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem ;
    margin-top: 3rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold; /*Negrita*/
    width: 90%;
    text-align: center;
}

@media (min-width: 768px){
  .boton{
    width: auto;
  }
}
@media (min-width: 768px){
  .servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}
.servicio p{
    text-align: center;
    line-height: 2;/*INTERLINEADO*/
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
/*-Contacto-*/

.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%); /* 60rem o 100% del ancho, el que sea menor */ 
     margin: 0 auto;
     padding: 2rem;
     border-radius: 1rem;
     
 
    
 }
 
 
 .formulario fieldset{
     border: none;
    
 }
 
 .formulario legend {
     text-align: center;
     font-size: 1.8rem;
     font-weight: bold;
     margin-bottom: 2rem;
     text-transform: uppercase;
     color: var(--primario);
 
     
 }
 
 .contenedor-campo{
 
 
 
 }
 
 .campo{
     margin-bottom: 1rem;
 
 
 
 }
 
 .campo label{
     color: var(--blanco);
     font-weight: bold;
     margin-bottom: .5rem;
     display: block;
 }
 
 .input-text{
     width: 100%;
     border-radius: .5rem;
     padding: 1rem;
     border: none;
    
 }
 
 .campo textarea{
     height: 20rem;
 }
 



 /*utilidades*/
 
 .w-sm-100{
     width: 100%;
 
 }
 
 @media (min-width: 768px) {
     .w-sm-100{
         width:auto;
     
 
     }
 }
 .flex{
     display: 100%;
 }
 
 .alinear-derecha {
     justify-content: flex-end;
 
 }
 
 /*Acomodar campos*/
 @media (min-width: 768px) {
     .contenedor-campo{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         column-gap: 1rem;
         grid-template-rows: auto auto 20rem; 
 
         
     }
     
     .campo:nth-child(3),
     .campo:nth-child(4){
 
         grid-column: 1/3;
     }
 }
 .footer{
    text-align: center;
 }